* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.textarea {
    padding: 5px;
    font-size: 20px;
    width: 1100px;
    height: 200px;
    border: 2px solid darkgray;
    border-radius: 5px;
}

.button {
    pad: 15px;
}

.key {
    width: 1100px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 5px;
    justify-content: center;
}

.btn {
    padding: 15px 20px;
    border: 1px solid darkgrey;
}

.btn:hover {
    background-color: whitesmoke;
}

.btn:active {
    background-color: whitesmoke;
}

.key-row {
    width: 1100px;
    justify-content: space-between;
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
}

.bottxt {
    font-size: 195%;
}